@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Poppins', sans-serif;
}

.my-first-datepicker.ant-picker {
  border: none !important;
  box-shadow: none !important;
}

.my-first-datepicker.ant-picker-focused {
  box-shadow: none !important;
}

.my-first-datepicker input {
  outline: none !important;
  box-shadow: none !important;
}

.my-first-datepicker .ant-picker-input>input {
  font-size: 22px;
  font-weight: 600;
  width: 300px;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-picker-calendar .ant-picker-calendar-header {
  padding: 15px;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-picker-calendar .ant-picker-panel .ant-picker-body {
  padding: 15px;
}

.custom-time-picker .ant-picker {
  border-color: rgb(201, 201, 253);
}

.custom-time-picker .ant-picker:hover {
  border-color: rgb(201, 201, 253);
  height: 35px;
  display: flex;
  align-items: center;
}

.custom-picker {
  height: 35px;
  display: flex;
  align-items: center;
}

/* 
:where(.css-dev-only-do-not-override-1vjf2v5).ant-input-outlined {
  height: 40px;
  display: flex;
  align-items: center;
} */

.custom-input {
  height: 35px !important;
  font-size: 14px;
  border-radius: 6px;
}

.custom-input .ant-select-selector,
.custom-input .ant-picker,
.custom-input .ant-picker-input>input,
.custom-input input {
  height: 35px !important;
  font-size: 14px;
  line-height: 35px;
}

.rbc-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px !important;
}

.rbc-date-cell {
  padding: 10px !important;
}

.my-event-modal .ant-modal-content {
  padding: 0 !important;
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-popover .ant-popover-inner {
  padding: 6px;
}

:where(.css-dev-only-do-not-override-l9pxc0).ant-popover .ant-popover-inner {
  padding: 5px;
}

:where(.css-dev-only-do-not-override-l9pxc0).ant-input-affix-wrapper {
  padding: 6px;
}

:where(.css-dev-only-do-not-override-l9pxc0)[class^="ant-input"] [class^="ant-input"],
:where(.css-dev-only-do-not-override-l9pxc0)[class*=" ant-input"] [class^="ant-input"],
:where(.css-dev-only-do-not-override-l9pxc0)[class^="ant-input"] [class*=" ant-input"],
:where(.css-dev-only-do-not-override-l9pxc0)[class*=" ant-input"] [class*=" ant-input"] {
  padding: 3px;
}